body {
    background-image: linear-gradient(rgba(226, 128, 233, 0.3), rgba(241, 212, 109, 0.3));
}

#root {
  padding-bottom: 2rem;
}

/* bootstrap container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* main header style */
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
}

.main-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-logo h2 {
    margin-left: 1rem;
}

.main-header-connect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-connect button {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    border-color: transparent;
    background-color: rgba(226, 128, 233, 1);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .main-header {
        padding: 1rem;
    }
    .main-header-connect button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .main-header-logo h2 {
        display: none;
    }
}

/* app component */
.app-container {
    margin: 0 auto !important;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
    padding-top: 0;
  }
}

/* page container */
.page-container-wrapper {
  padding: 1rem;
}

.page-container {
  padding: 1rem;
  background-color: white;
  border-radius: 1.5rem;
  width: 600px;
  height: 500px;
  margin-left: 2rem;
}

@media (min-width: 375px) {
  .page-container {
    max-width: 310px;
    width: 310px;
    height: 500px;
  }
}
  
@media (min-width: 576px) {
  .page-container {
    max-width: 520px;
    width: 520px;
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    margin-top: 1rem;
  }
}

/* sidebar */
.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.sidebar-menu a {
    color: inherit;
    text-decoration: none;
    margin-left: 0.5rem;
}

.sidebar-menu-link-selected {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
  .sidebar-menu {
      display: flex;
      overflow: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      padding-inline-start: 10px;
  }
  .sidebar-menu::-webkit-scrollbar {
      display: none;
  }
  .sidebar-menu li {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

/* media queries */



@media (min-width: 375px) {
  .container-sm, .container {
    max-width: 350px;
    width: 350px;
    height: 750px;
  }
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
    width: 540px;
    height: 750px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
    width: 720px;
    height: 600px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
    width: 960px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
    width: 960px;
    height: 500px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
    width: 960px;
    height: 500px;
  }
}
